<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".addgymsPage"
            android:exported="true" />
        <activity
            android:name=".gymsListPage"
            android:exported="false" />
        <activity
            android:name=".chat_function.ChatList"
            android:exported="true" />
        <activity
            android:name=".NewUserMenu"
            android:exported="true" />
        <activity
            android:name=".diet_function.DietGoal"
            android:exported="true" />
        <activity
            android:name=".diet_function.DailyDiet"
            android:exported="true" />
        <activity
            android:name=".diet_function.addDietPage"
            android:exported="true" />
        <activity
            android:name=".diet_function.dietPage"
            android:exported="true" />
        <activity
            android:name=".leaderboardAdd"
            android:exported="false" />
        <activity
            android:name=".leaderboard"
            android:exported="true" />
        <activity
            android:name=".friendList"
            android:exported="false" />
        <activity
            android:name=".milestone"
            android:exported="false" />
        <activity
            android:name=".milestoneProgress"
            android:exported="false" />
        <activity
            android:name=".WelcomeMenu"
            android:exported="false" />
        <activity
            android:name=".signUpActivity"
            android:exported="false" />
        <activity
            android:name=".findFriendActivity"
            android:exported="false" />
        <activity
            android:name=".editProfilePage"
            android:exported="true" />
        <activity
            android:name=".workoutHistoryAdd"
            android:exported="true" />
        <activity
            android:name=".profilePage"
            android:exported="true" />
        <activity
            android:name=".chat_function.chatPage"
            android:exported="true" />
        <activity
            android:name=".friendsPage"
            android:exported="false" />
        <activity
            android:name=".workoutHistoryPage"
            android:exported="true" />
        <activity
            android:name=".userMenu"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>